<app-social-page-layout>
  <div main>
    @if (isLoading()) {
      <app-post-list-skeleton [count]="2" />
    } @else if (notifications().length) {
      @for (notification of notifications(); track notification.id) {
        <mat-card class="notification-card">
          <mat-card-content>
            <p>{{ notification.body }}</p>
          </mat-card-content>
          <div class="card-actions">
            <button mat-flat-button color="primary" type="button" (click)="readNotification(notification)">
              Read more
            </button>
          </div>
        </mat-card>
      }
    } @else {
      <app-empty-state title="You don't have any unread notifications!" />
    }
  </div>

  <div sidebar>
    <app-people-you-may-know />
    <app-trends />
  </div>
</app-social-page-layout>
