<mat-card class="comment-card">
  <mat-card-content>
    <div class="comment-header">
      <img class="comment-avatar" [src]="avatarUrl()" [alt]="authorName()" />
      <div class="comment-meta">
        <a class="comment-author" [routerLink]="['/social/profile', comment().created_by.slug]">
          {{ authorName() }}
        </a>
        <span class="comment-time">{{ comment().created_at_formatted }} ago</span>
      </div>
    </div>
    <p class="comment-body">{{ comment().body }}</p>
  </mat-card-content>
</mat-card>
