@use '@angular/material' as mat;
@use './app/features/social/social-theme';
@use './app/features/apps-manager/apps-manager-theme';

$app-button-shape: 4px;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: $app-button-shape,
      protected-container-shape: $app-button-shape,
      outlined-container-shape: $app-button-shape,
      text-container-shape: $app-button-shape,
    )
  );

  @include mat.icon-button-overrides(
    (
      container-shape: $app-button-shape,
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-shape: 8px,
      outlined-container-shape: 8px,
      filled-container-shape: 8px,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

body.dark-mode {
  color-scheme: dark;
}

app-root {
  display: block;
  min-height: 100%;
}

.app-message-error.mat-mdc-snack-bar-container {
  --mat-snack-bar-container-color: #d32f2f;
  --mat-snack-bar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;

  .mat-mdc-snackbar-surface {
    background-color: #d32f2f;
    color: #fff;
  }
}

.app-message-success.mat-mdc-snack-bar-container {
  --mat-snack-bar-container-color: #2e7d32;
  --mat-snack-bar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;

  .mat-mdc-snackbar-surface {
    background-color: #2e7d32;
    color: #fff;
  }
}

.app-message-warning.mat-mdc-snack-bar-container {
  --mat-snack-bar-container-color: #ed6c02;
  --mat-snack-bar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;

  .mat-mdc-snackbar-surface {
    background-color: #ed6c02;
    color: #fff;
  }
}

.apps-manager-search-dialog .mat-mdc-dialog-surface,
.taberna-search-dialog .mat-mdc-dialog-surface {
  border-radius: 8px;
}
